<div class="row">
    <div class="card">
        <div [ngClass]="{'card-header card-header-danger': miCredito['estado'] === 0, 'card-header card-header-success': miCredito['estado'] === 1, 'card-header card-header-info': miCredito['estado'] === 2 }"
            class="">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">Detalle de la Solicitud</h4>
                    <p class="card-category">A continuación se detalla la solicitud No. {{ miCredito['idCredito'] }}</p>
                </div>
                <div *ngIf="miCredito['estado']===0;" class="col-md-6" style="text-align: right;">
                    <h2>Rechazado</h2>
                </div>
                <div *ngIf="miCredito['estado']===1;" class="col-md-6" style="text-align: right;">
                    <h2>Aceptado</h2>
                    <div *ngIf="miCredito['cancelado']===0;" class="card-category">Pendiente de pago</div>
                    <div *ngIf="miCredito['cancelado']===1;" class="card-category">Solventado</div>
                </div>

                <div *ngIf="miCredito['estado']===2;" class="col-md-6" style="text-align: right;">
                    <h2>En Espera</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nombre del Usuario:</label>
                            <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                class="form-control" value="{{ miCredito['Nombre'] }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nickname:</label>
                            <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                class="form-control" value="{{ miCredito['UserName'] }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Fecha de la Solicitud:</label>
                            <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                class="form-control"
                                value="{{ miCredito['fecha_solicitud'] | date:'mediumDate':'UTC' }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Fecha de Resolución:</label>

                            <div *ngIf="miCredito['fecha_resolucion']==null; else elseBlock">
                                <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                    class="form-control" value="Sin Resolver" readonly>
                            </div>

                            <ng-template #elseBlock>
                                <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                    class="form-control"
                                    value="{{ miCredito['fecha_resolucion'] | date:'mediumDate':'UTC' }}" readonly>
                            </ng-template>


                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Fecha de Pago:</label>

                            <div *ngIf="miCredito['fecha_pago']==null; else elseBlock2">
                                <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                    class="form-control" value="Sin Resolver" readonly>
                            </div>

                            <ng-template #elseBlock2>
                                <input style="text-align: center; align-content: center; font-size: 20px;" type="text"
                                    class="form-control" value="{{ miCredito['fecha_pago'] | date:'mediumDate':'UTC' }}"
                                    readonly>
                            </ng-template>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Descripción de la Solicitud</label>
                            <div class="form-group">
                                <textarea style="text-align: center; vertical-align: middle; font-size: 20px;"
                                    class="form-control" rows="5" readonly>{{ miCredito['Descripcion'] }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="miCredito['fecha_resolucion']===null;">
                    <div style="text-align: center;">
                        <h4><strong>Fecha en la que se debe efectuar el pago</strong></h4>
                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="1"
                            (dateSelect)="miMetodo($event)" [navigation]="arrows" [ngModelOptions]="{standalone: true}">
                        </ngb-datepicker>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success pull-right"
                            (click)="aceptarSolicitud()">Aceptar</button>
                        <button style="margin-right: 20px;" type="submit" class="btn btn-danger pull-right"
                            (click)="rechazarSolicitud()">Rechazar</button>
                    </div>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>