<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title ">Créditos Pendientes de Pago</h4>
                <p class="card-category"> A continuación se detallan todos los creditos cuyas fechas de pago han
                    expirado</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-info">
                            <th style="text-align: center; vertical-align: middle;">
                                ID Solicitud
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Usuario
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Monto
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Fecha de Solicitud
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Fecha de Resolución
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Fecha de Pago
                            </th>
                            <th style="text-align: center; vertical-align: middle;">
                                Cobrar Monto
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of misCreditos; let n = index">
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ solicitud["idCredito"] }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ solicitud["UserName"] }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;" class="text-success">
                                    Q.{{ solicitud["MontoASolicitar"] }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ solicitud["fecha_solicitud"] | date:'mediumDate':'UTC' }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ solicitud["fecha_resolucion"] | date:'mediumDate':'UTC' }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ solicitud["fecha_pago"] | date:'mediumDate':'UTC' }}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">

                                    <div *ngIf="solicitud['posible_cobrar']===1; else elseBlock">
                                        <button class="btn btn-danger btn-block"
                                            (click)="debitar(solicitud['idCredito'],solicitud['NumeroCuenta'],solicitud['MontoASolicitar'],solicitud['Nombre'],solicitud['idUsuario'])">Cobrar</button>
                                    </div>

                                    <ng-template #elseBlock>
                                        No es posible cobrar esta deuda
                                    </ng-template>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Débito Manual</h2>
<br>
<div class="row" style="align-items: center;">
    <div class="col-md-8" style="align-items: center;">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Débito Manual</h4>
                <p class="card-category">Ingrese los datos necesarios para poder realizar un débito de saldo</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Número de Cuenta:</label>
                                <input type="number" class="form-control" [(ngModel)]="cuentaInput" name="cuentaInput">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Monto:</label>
                                <br>
                                <input type="number" class="form-control" [(ngModel)]="montoInput" name="montoInput">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" [(ngModel)]="descripcionInput" name="descripcionInput"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" (click)="debitar2()">Realizar Cobro</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>